footer{
    margin: 0;
    padding: 0;
    background-color: #cfc9c9;
}
.container2{
    width: 100%;
    height: 300px;
    display: flex;
}

.box{
    margin: 10px;
}

.box li{
    list-style: none;
    margin: 20px;
}
.box li:hover{
    color: rgb(69, 69, 69);
    cursor: pointer;
}


.box h2{
    margin: 15px;
}

@media (max-width: 500px){
    
}



@media (max-width: 500px){

}



@media (max-width: 500px){
    .container2{
        width: 100%;
        height: 200px;
        display: flex;
    }
    
    .box li{
        list-style: none;
        margin: 5px;
        font-size: 10px;
    }
    .box li:hover{
        color: rgb(69, 69, 69);
        cursor: pointer;
    }
     
    
    .box h2{
        margin: 5px;
        font-size: 15px;
    }
}