body {
  margin: 0;
  padding: 15px 30px;
  font-family: 'Open Sans Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

@media (max-width: 500px){
  *{
    font-size: 11px;
  }
  body{
    padding: 10px 15px;
  }
}
